 

.ie7 img { -ms-interpolation-mode: bicubic; }
a:link { -webkit-tap-highlight-color: #FF5E99; }

 section[role=principal] {
        font:13px/1.231 'PTSansRegular', Arial, sans-serif;	
	zoom:1;	
	height:100%;
	margin-left:300px;
	margin-right:200px;
	padding:5px;
}

/*  Notifications  */
.notification {
	display:block;
	clear:both;
	padding:10px 10px 8px 36px;
	-moz-border-radius:3px;
	border-radius:3px;
	border:1px solid;
	color:#646464;
	background-position:10px 10px;
	background-repeat:no-repeat;	
	line-height:150%;
}
.close-notification {
	float:right;
	padding:10px 3px 3px;
	text-decoration:none;
	color:#737373;
	position:relative;
	top:-16px;
	right:-2px;
}
.close-notification:hover { color:#333; }
.notification.error {
	background-color:#f2d4ce;
	background-image:url(../icons/icon_notification_error.png);
	border-color:#ae432e;
}
.notification.error strong { color:#ae432e; }
.notification.success {
	background-color:#d9e6c3;
	background-image:url(../icons/icon_notification_success.png);
	border-color:#77ab13;
}
.notification.success strong { color:#69990f; }
.notification.attention {
	background-color:#faf6d4;
	background-image:url(../icons/icon_notification_attention.png);
	border-color:#e6c26e;
}
.notification.attention strong { color:#be8007; }
.notification.information {
	background-color:#cee6f2;
	background-image:url(../icons/icon_notification_information.png);
	border-color:#058dc7;
}
.notification.information strong { color:#0576a6; }
.notification.note {
	background-color:#f2f2f2;
	background-image:url(../icons/icon_notification_note.png);
	border-color:#d1d1d1;
}
.notification.note strong { color:#737373; }

/* estilo para la table que sale en el instrumeto 
variableList muestra todas las variables en el instrumento
table_indicador muestra el llenado de cada indicador
*/

.txtComentario{
  height: 25px; 
  width: 95%;  
}

#tableInstrumento, #variableList, #table_indicador, #table_contratos, 
#tableModificacion{
    *border-collapse: collapse; /* IE7 and lower */
    border-spacing: 0; 
    border: solid #ccc 1px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -o-border-radius: 6px;
    -ms-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 2px 2px #ccc; 
    -moz-box-shadow: 0 2px 2px #ccc; 
    -o-box-shadow: 0 2px 2px #ccc;
    -ms-box-shadow: 0 2px 2px #ccc;
    box-shadow: 0 2px 2px #ccc;  
    height: 30px;  
    margin-bottom: 15px;    
    width: 100%;
}

#tableInstrumento thead tr, #variableList thead tr, #table_indicador thead tr, #table_contratos thead tr, 
#tableModificacion thead tr{    
    background-color: lightblue;      
    margin: 50px 10px ;    
    height: 30px;
    text-align: center;
}

#tableInstrumento tbody tr{        
    margin: 50px 10px 70px 10px ;    
    height: 35px;
}

#tableModificacion tbody tr{
    margin: 50px 10px 70px 10px ;  
    height: 35px;
}

#tableInstrumento tbody tr:hover, #variableList tbody tr:hover, #table_contratos tbody tr:hover, 
#table_indicador tbody tr:hover, #tableModificacion tbody tr:hover{   
    background: #fbf8e9;
    -o-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;   
}

.columanaTableFormat{
    text-align: center;
}

#divLogin
{
 /*#ebf4fb */
  border:solid 2px rgba(147, 184, 189,0.8);
  margin:5% 25% 0 25%;
  height: 50%;
  background: #ebf4fb;
  border-radius: 5px;
  width: 50%;

}

#divLogin h2
{
    text-align: left; 
}
.txtLogin
{
   font-size: 16px;
   border: 1px solid #ebf4fb;
   border-radius: 3px;
   box-shadow: 0px 1px 2px 2px rgba(0, 0, 0, 0.2) inset;
   height: 25px;
   width: 100%;
}

#divLogin table
{
 margin-top: 5px;    
}


#divLogin table, #divLogin img
{
    display: inline-block;
    border-radius: 10px;

}

/* register*/
#divFormRegister
{
  border:solid 2px rgba(147, 184, 189,0.8);
  margin-top: 5%;
  height: 50%;
  background: #ebf4fb;
  border-radius: 5px;
  width: 70%; 
}

/* panel de control*/
#informacion_usuario
{
  display: inline-block;
  vertical-align: top;
  border:solid 2px rgba(147, 184, 189,0.8);
  margin-top: 5%;
  
  background: #ebf4fb;
  border-radius: 5px;
  width: 80%; 
}

#cambiar_contra
{
  display: inline-block;
  vertical-align: top;
  border:solid 2px rgba(147, 184, 189,0.8);  
  height: 50%;
  background: #ebf4fb;
  border-radius: 5px;
  width: 80%;
}

#informacion_empresa
{
   border:solid 2px rgba(147, 184, 189,0.8);
  margin-top: 3%;
  height: 50%;
  background: #ebf4fb;
  border-radius: 5px;
  width: 40%;  
}