/* 
    Document   : ayudaprincipal
    Created on : Jun 30, 2012, 10:00:10 PM
    Author     : Dave
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/
a{
    font-size: 13px;
}

.body_resize{
    width:100%; 
}

.panprincipal{   
    margin-left: 30%;
}
.panprincipal h3{
    text-align: left;
    margin-right: 60px;
    
}
.panprincipal ul{
    width: 50%;
   
}
.panprincipal li{        
    font: normal 12px Arial, Helvetica, sans-serif;
    color:#5c5c5c;
    background:url(../../images/arrow.gif) left no-repeat;
    margin:0; 
    padding:5px 0 5px 20px;   
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #DDD;
}

.panprincipal li a:hover{
    background-color: #DDD;
    padding-left: 2%;
    }
.right1 .conBasisaBack:hover{
     background-color: #881C1C;
     color: #F5F2F2;    
}

.body .body_resize .right2 p{
    font-size: 14px;
    text-align: justify;
}

.caja_Basisa {
    margin-top: 5%;
    border-radius: 0 0 5px 5px; 
    border-color: #69a8d4;
    border-style: solid;  border-width: 2px;
    background: #e7f1fa; 
    width: 90%;
    height: 100%;     
    color: #015480;
}

.caja_Basisa p a{
    background:url(../../images/arrow.gif) left no-repeat;
    background-color: #fff;
    padding-left: 3%;
}
.caja_Basisa p a:hover{    
    padding-left: 6%;
}

