/* 
    Document   : ayudaprincipal
    Created on : Jun 30, 2012, 10:00:10 PM
    Author     : Dave
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/
a{
    font-size: 13px;
}
.right1 a:hover {
    background-color: #dfeffc;
}

.body_resize{
    width:100%; 
}

.panprincipal{   
    margin-left: 30%;
}
.panprincipal h3{
    text-align: left;
    margin-right: 60px;
    
}
.panprincipal ul{
    width: 50%;
   
}
.panprincipal li{        
    font: normal 12px Arial, Helvetica, sans-serif;
    color:#5c5c5c;
    background:url(../../images/arrow.gif) left no-repeat;
    margin:0; 
    padding:5px 0 5px 20px;   
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #DDD;
}

.panprincipal li a:hover{
    background-color: #DDD;
    padding-left: 2%;
    }
.right1 .conBasisaBack:hover{
     background-color: #881C1C;
     color: #F5F2F2;    
}

